<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <!--<li>
            <%= link_to "DOWNLOADS", "/download.html" %>
          </li> -->
          <li>
            <a href="/#users">USERS</a>
          </li>
          <li>
            <a href="/#v3">WHAT IS PROJECT QUAY?</a>
          </li>
          <li>
            <a href="/#contribute">CONTRIBUTE</a>
          </li>
          <li>
            <a href="/#contribute">COMMUNITY</a>
          </li>
          <li>
            <a href="https://quay.github.io/quay-docs/master/">DOCUMENTATION</a>
          </li>
          <li>
            <!-- Place this tag where you want the button to render. -->
            <a aria-label="Star Project Quay on GitHub" data-count-aria-label="# stargazers on GitHub" data-count-api="/repos/quay/quay#stargazers_count" data-count-href="/quay/quay/stargazers" data-style="mega" data-icon="octicon-star" href="https://github.com/quay/quay" class="github-button">Star</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
